body {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background-color: #AAA;
    background-image: -webkit-linear-gradient(top left, #EEEEEE, #B1B1B1);
    background-image: -moz-linear-gradient(top left, #EEEEEE, #B1B1B1);
    background-image: linear-gradient(to bottom right, #EEEEEE, #B1B1B1);
}

.table-overrides {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
}

.table-overrides {
    width: 500px;
    font-size: 11px;
}

    .table-overrides th {
        text-align: left;
        padding: 1px;
    }

.button-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}

.numbers-buttons {
    width: 70px;
    height: 70px;
    color:white;
    background-color:dimgray;
    border-radius:50%;
    font-size:25px;
}

    .numbers-buttons:hover {
        background-color:black;
    }

.action-buttons {
    margin: 0;
    width: 70px;
    height: 70px;
    color: white;
    background-color: orange;
    border-radius: 50%;
    font-size: 25px;
}
   
.action-buttons:hover{
    background-color:white;
    color:orange;
}


.clear-buttons {
    margin: 0;
    width: 140px;
    height: 70px;
    color: black;
    background-color:lightgray;
    border-radius:20%;
}

    .clear-buttons:hover{
        background-color:white;
    } 


.my_form {
    align-items: center;
    justify-content: center;
    width: 280px;
}

.my_table {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    width:400px;
    font-size:12px;
    color:darkslategrey;
}

.input-field{
    width:280px;
    height:70px;
    color:white;
    background-color:black;
    text-align:right;
    font-size:20px;
}
